table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  table th {
    background-color: royalblue;
    color: white;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table tbody tr:nth-child(odd) {
    background-color: white;
  }
  
input:focus-visible {
    outline: 0;
}