<p>Check Security Headers and SSL/TLS Certificate Version of your Server</p>

<form [formGroup]="scanForm" (ngSubmit)="submitForm()">
        <input required name="websites" cols="30" rows="10" formControlName="websites" placeholder="Enter your URL e.g. https://google.com">
        <button type="submit" [disabled]="!scanForm.valid">Scan now</button>
</form>

<p>{{ error }}</p>

<ng-container *ngIf="loading; else result">
    <div class="spinner"></div>
    <spinner></spinner>
</ng-container>

<ng-template #result>
    <form-result *ngFor="let result of formResult" [result]="result"></form-result>
</ng-template>

<documentation></documentation>
<!-- TODO: Implement charts -->
<!-- <charts></charts> -->