label, button {
    display: block;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 0;
    width: 100%;
}

button {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    background-color: royalblue;
    flex-shrink: 0;
    margin-left: 30px;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }
}

form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

input:focus-visible {
    outline-color: royalblue;
}